.pool {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
}

.selected {
    border: 2px solid yellow;
}

.not-selected {
    border: 2px solid black;
}