.tree-leaf {
    display: flex;
    justify-content: center;
    padding: 2px;
}

.tree-group {
    width: fit-content;
}

.tree-node {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
}